# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# Kotlin / Java
*.class
*.jar
*.war

# OS specific
.DS_Store
Thumbs.db
